__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
*.db
.env
.env.*
venv/
.venv/
env/
logs/
*.session
user_sessions/
sessions/
build/
dist/
*.egg-info/
.idea/
.vscode/
*.tar.gz
*.zip
*.bak
*.tmp
*.swp
**/node_modules/

